.tout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.entrée {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.entrée h3 {
  font-size: 20px;
  color: #333;
}

.entrée p {
  font-size: 14px;
  color: #555;
}

.entrée ul, .entrée ol {
  margin: 10px 0;
  padding-left: 20px;
}

.entrée ul li, .entrée ol li {
  font-size: 14px;
  color: #444;
}

button{
  padding: 10px ;
  font-size: 16px;
  background-color: #313131;
  color: white;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  
}


.title {
  font-size: 30px;
  font-weight: bold;
  color: #121111;
  text-align: center;
  margin-top: 20px;
}
.de {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.de img {
  width: 200px;
  height: 200px;
  border-radius: 20%;
  gap: 10px;
  padding: 10px;
}
.de:hover img {
  box-shadow: #fff7f7 0px 10px 50px;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  color: #181717;
  text-align: center;
  margin-top: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #313131;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: wrap;
}
.pagination button:hover {
  background-color: #505050;
}
